.drop-access {
    background-color: var(--color-letra);
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    overflow: hidden;
}

.formulario-acceso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-acceso label {
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--color-fondo);
}

.formulario-acceso p{
    width: 60%;
    font-size: 1rem;
    color: var(--color-fondo);
    margin: 1rem;
    margin-bottom: 2rem;
}

.btn-enviar-countdown {
    margin-top: 12px;
    padding: 0.5rem 1rem;
    background-color: var(--color-fondo);
    color: var(--color-letra);
    font-family: var(--text-font);
    border: none;
    cursor: pointer;
    width: 40%;
}

.btn-enviar-countdown:hover {
    background-color: var(--color-fondo);
}

.error {
    color: red;
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 767px) {

    .formulario-acceso {
        height: 50svh;
    }

    .formulario-acceso label {
        font-size: 1.2rem;
    }

    .formulario-acceso p{
        font-size: 0.8rem;
        width: 80%;
    }

    .btn-enviar-countdown {
        width: 60%;
    }
}