.product-card {
    width: 349px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--text-font), sans-serif;
    position: relative;
    overflow: hidden;
}

/* Imagen cuadrada */
.product-card .image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    background: black;
}

.product-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Botón ▶ flotante */
.product-card .play-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: var(--color-letra);
    color: var(--color-fondo);
    padding: 4px 6px 1px 8px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

/* Contenido de info */
.product-card .info {
    width: 100%;
    padding: 1rem 0.8rem;
    box-sizing: border-box;
}


.itemTitleContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-card .button-container {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.product-card .add-button {
    flex: 0 0 70%;
    background: none;
    color: var(--color-fondo);
    border: 1px solid var(--color-fondo);
    font-family: var(--text-font);
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
    transition: background 0.3s;
}

.product-card .add-button:hover {
    background: #cacaca;
}

.product-card .remove-button {
    flex: 0 0 30%;
    background: var(--color-letra);
    color: var(--color-texto);
    border: 1px solid var(--color-fondo);
    font-family: var(--text-font);
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    transition: background 0.3s;
}

.product-card .remove-button:hover{
    background-color: rgba(255, 0, 0, 0.279);
}

.product-card .info h3 {
    font-size: 22px;
    font-weight: lighter;
    margin: 0;
}

.product-card .autor {
    margin: 0;
    opacity: 0.4;
    font-size: 1rem;
}

.product-card .info .price {
    font-size: 35px;
    font-weight: lighter;
    margin: 0 0 0.8rem;
}

.product-card .info .description {
    font-family: var(--text-font);
    font-size: 13px;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.product-card .info .sello {
    font-family: var(--text-font);
    font-size: 13px;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

/* Stock */
.product-card .stock {
    font-size: 13px;
    color: #8c8c8c;
    margin-top: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.product-card .stock span {
    font-weight: bold;
    color: #ccc;
}

/* Botón info FAQ */
.product-card .faq-button {
    position: absolute;
    bottom: 0;
    right: 1rem;
    background: var(--color-letra);
    color: var(--color-fondo);
    border: 1px solid var(--color-fondo);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;
}

.product-card .faq-button:hover {
    color: var(--color-letra);
    background-color: var(--color-fondo);
    transition: .2s;
}

.agotado {
    text-decoration: line-through;
    font-weight: bold;
    opacity: 0.4;
}

.agotadoStock {
    font-weight: bold;
}

.agotadoImagen {
    opacity: 0.6;
    /* Ejemplo: más tenue */
    filter: grayscale(40%);
    /* Ejemplo: un poco en blanco y negro */
}

.specs-button {
    display: block;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    background-color: transparent;
    color: var(--color-fondo);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-family: var(--text-font);
}

.specs-button:hover {
    text-decoration: underline;
    transition: .2s;
}